#feed {
    position: relative;
    margin: 0;
}

#feed .panel-heading {
    padding: 0;
}
#feed .panel-heading h4 {
    padding: 10px 15px;
}


#feed .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    color: #fff;
    text-align: center;
    background-image: url(/feedreader/assets/images/loader-black.gif);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#feed h2 {
    text-align: center;
}

#feed-list ul {
    margin: 0;
    padding: 0;
}

#feed-list-toggle {
    display: none;
}

#feed-items-container {
    min-height: 20em;
}

#feed-one-paginator {
    text-align: center;
}
#feed-one-paginator .page {
    margin: 0.5em
}

#feed-one .panel {
    margin-bottom: 0;
}

#feed-one iframe {
    width: 100%;
    min-height: 50em;
}

#feed-one .readed {
    cursor:  pointer;
}

body #feed-one .glyphicon.glyphicon-star, #feed-one .glyphicon.glyphicon-star-empty {
    color: orange;
}

.feed {
    display: inline-block;
}

.feed .badge {
    margin-left: 1em;
}

@media screen and (max-width:1000px) {
    #feed-list {
        position: fixed;
        max-height: 100%;
        border: 5px solid;
        border-radius: 5px;
        width: 80%;
        top: 0;
        left: -80%;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1000;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-out;
    }
    #feed-list.open {
        left: 0;
    }

    #feed-list ul {
        width: 100%;
        list-style: none;
    }
    #feed-list ul li {
        display: block;
        width: 100%;
    }
    #feed-list ul li .btn {
        width: 100%;
    }

    #feed-list-toggle {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        cursor: pointer;
        background: url(/feedreader/assets/images/list.svg);
        background-size: 32px 32px;
        width: 32px;
        height: 32px;
        z-index: 2000;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-out;
    }
    #feed-list-toggle.open {
        left: 80%;
    }

}