@(feed: fr.feedreader.models.Feed, feedItems: java.util.List[fr.feedreader.models.FeedItem])
@layout("Lecture du flux \"" + feed.getName() + "\"") {

<div id="feed-one">
    <h1>"@feed.getName()" (@feed.getUrl())</h1>
    <div class="panel-group">
    @for(feedItem <- feedItems) {
	  <div class="panel panel-default">
	    <div class="panel-heading" data-readed="@routes.FeedItemController.setReadedTrue(feedItem.getId())">
	      <h4 class="panel-title">
			<a class="readed" href="@if(feedItem.getReaded()) { @routes.FeedItemController.setReadedFalse(feedItem.getId()) } else { @routes.FeedItemController.setReadedTrue(feedItem.getId()) }"><span class="glyphicon @if(feedItem.getReaded() == java.lang.Boolean.TRUE) { glyphicon-star } else { glyphicon-star-empty }"></span></a>
			@if(feedItem.getEnclosure() != null) { <img alt="icon" src="@feedItem.getEnclosure()" /> }
			<a data-toggle="collapse" href="#feedItem-@feedItem.hashCode()">
				@feedItem.getTitle()
			</a>
			</h4>
			<div id="feedItem-@feedItem.hashCode()" class="panel-collapse collapse">
			<ul class="nav nav-tabs">
			  <li class="active"><a class="tab-resume" href="#feedItem-@feedItem.hashCode()-resume">Résumé</a></li>
			  <li><a class="tab-link" href="#feedItem-@feedItem.hashCode()-link">Article</a></li>
			  <li><a class="tab-open" href="@feedItem.getLink()">Ouvrir le lien</a></li>
			</ul>
			<p class="resume" id="feedItem-@feedItem.hashCode()-resume">
		      	@if(feedItem.getSummary() != null) {
		      		@Html(feedItem.getSummary())
		      	} else {
		      	   --- Pas de résumé ---
		      	}
	      	<p>
	      	<p class="link" id="feedItem-@feedItem.hashCode()-link" data-href="@feedItem.getLink()">
	      	</p>
	      </div>
		</div>
	  </div>
    }
    </div>
</div>
}