@(title: String)(content: Html)
<!DOCTYPE html>
<html ng-app="FeedReader">
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width"/>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-sanitize.js"))'></script>
    
    <!-- <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap/3.1.1/js/bootstrap.min.js"))'></script>  -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-cyborg/3.1.1/js/bootstrap.min.js"))'></script>
    <script type='text/javascript' src='@routes.Assets.at("js/feed.js")'></script>
    <!-- <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap/3.1.1/css/bootstrap.min.css"))'/> -->
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-cyborg/3.1.1/css/bootstrap.min.css"))'/>
    <link rel='stylesheet' href='@routes.Assets.at("css/feed.css")'/>
    <!-- <link rel='stylesheet' href='@routes.Assets.at("css/bootstrap.cyborg.min.css")'/> -->
    <script type="text/javascript">
        var webservicesUrl = {
            "feed": "@routes.FeedController.get"
        }
    </script>
    
  </head>
  <body>
    @content
  </body>
</html>